/*
The key to making responsive design work is media queries. The @media selector
we've used below is going to activate when we both of the values -- in this
case, "screen" and the specified width -- are true.

In other words, it's going to check if the web page is being viewed on a
screen, then decide if the viewing surface (the browser) is bigger or smaller
than the min-width or max-width we want.

This is a very simple example on purpose. Improve it, or practice by making
new media queries that do different things at different screen widths.
*/

@media screen and (min-width: 600px) {
	nav {
		float: left;
		width: 25%;
	}
	section {
		margin-left: 25%;
	}
}

@media screen and (max-width: 599px) {
	nav li {
		display: inline;
	}
}